{% extends "SiteBlogBundle::main.html.twig" %}

{% block main %}

<main id="main" class="span9">

</main>    

<script>
$('document').ready(function(){ 
    $('#main').ajaxEngine({code1:'home'});
    $('#main').AjEPaginator({
                   AjEParams:{
                       codes:{code1:'home'},
                       params:{url:'/blog'}
                   }
                        
                   });
});                    
</script>
{% endblock main %}




