{% extends "SiteBlogBundle::main.html.twig" %}

{% block main %}
<main id="main" class="span9">
<ul class="unstyled post">
    <li class="title">{{post.title}}</li>
    <li class="text">{{post.text}}</li>
</ul>
</main>
{% endblock main %}
